.container{
    display: grid;
    grid-template-columns: 1fr 5fr;
}
.dashboard{
    background-color: antiquewhite;
    display: grid;
    gap: 40px;
}
.dashboard a i{
    margin-right: 20px;
}
.rightSection{
    display: grid;
}
nav{
    background-color: white;
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: fit-content;
}
.newsFeed{
    background-color: yellow;
    display: grid;
    grid-template-columns: 3fr 1fr;;
}

.projects{
    background-color: darkcyan;
}
.projects h2{
    grid-column: 1/4;
}
.project{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.rightColumn{
    display: grid;
}